
{% extends 'base.html' %}
<!--# этот тег указывает, что используемый шаблон-->
{%load my_tags%}
{%block content%}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {%for product in products%}
<!--        Это тег цикла ниже endfor его закрывающий тег-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{product.image | media_filter}}">
<!--            product.image продукт берётся из views а имэйдж из Product на который ссылается product в views-->
            <div class="card-body">
              <p class="card-text">{{product.name}}</p>
              <p class="card-text">{{product.description | truncatechars:100 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="product/12" class="btn btn-secondary my-2">Подробнее</a>
                  <a href="#" class="btn btn-primary my-2">Купить</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
{%endblock%}