{% extends 'catalog/base.html' %}

{% block title %}Подробности категории{% endblock %}

{% block content %}
    <div class="container">
        <h1>Подробности категории</h1>
        <a href="{% url 'category_list' %}" class="btn btn-primary mb-3">Вернуться к списку</a>

        <h2>Название: {{ category.name }}</h2>
        <p>Описание: {{ category.description|truncatewords:50 }}</p>

        {% if user.is_authenticated %}
        {% if perms.catalog.change_category or category.owner == user %}
        <a href="{% url 'category_update' category.id %}" class="btn btn-secondary">Изменить</a>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}