
{% extends 'catalog/base.html' %}
<!--# этот тег указывает, что используемый шаблон-->
{%load my_tags%}
{%block content%}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
<!--        Это тег цикла ниже endfor его закрывающий тег-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{product.image | media_filter}}">
<!--            product.image продукт берётся из views а имэйдж из Product на который ссылается product в views-->
            <div class="card-body">
              <p class="card-text">{{product.name}}</p>
              <p class="card-text"> Категория : {{product.category}}</p>
              <p class="card-text">{{product.description}}</p>
              <h1> <p class="card-text">Цена : {{product.purchase_price}}₽</p> </h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}