{% extends 'catalog/base.html' %}


{% block title %}Товарная форма{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center">Мерчандайзинг наших товаров</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">🍂 Подтвердите удаление 🍂</button>
                <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">🍂 Отмена 🍂</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}