
{% extends 'catalog/base.html' %}
<!--# этот тег указывает, что используемый шаблон-->
{%load my_tags%}
{%block content%}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
<!--        Это место для цикла for ниже endfor его закрывающий тег-->
        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Вернуться назад</a>

            {% if user.is_authenticated%}
              {% if perms.catalog.change_product or product.owner == user %}
                <a href="{% url 'catalog:edit_product' product.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'catalog:delete_product' product.pk %}" class="btn btn-danger">Удалить</a>
              {% endif %}
            {% endif %}

            <img src="{{product.image | media_filter}}">
<!--            product.image продукт берётся из views а имэйдж из Product на который ссылается product в views-->
            <div class="card-body">
              <p class="card-text">{{product.name}}</p>
              <p class="card-text"> Категория: {{product.category}}</p>
              <p class="card-text">{{product.description}}</p>
              <h1> <p class="card-text">Цена: {{product.purchase_price}}₽</p> </h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="owner-info">
                   <h3 class="fw-light"> Закон позволяет стихийные сделки, <br>
                     так давай сделаем это ! <br>
                     По вопросам покупки или бартера на дочь <br>
                     или отары овец пищи по адресу : <br>
                     {{ product.owner.email }} <br>
                     Чужие кони, жёны и фамильное оружие в оплату не предлагать !
                     БАН на три дня !
                   </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}